*{
  padding:0;
  margin:0;
}

body{
  font-family: arial;
}

h4{
  margin-left: -25px;
}

h4 em{
  font-weight: normal;
  padding-left: 20px;
}

.messageBox{
  width: 40vw;
  position: absolute;
  left: 50%;  
  transform: translate(-50%, 0);
  padding: 10px 30px;
}

.messageItem{
  text-align: center;
  animation-name: bgcolor;
  margin-bottom: 15px;
  padding: 7px 10px;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1, 0, 0.3, 0.7);
  border-bottom: 2px dashed #ccc;
}


@keyframes bgcolor{
  from{background-color: greenyellow;}
  to {background-color: #fff;}
}
