
.infoBox{
    display: block;
    float: left;
    width: 250px;
    height: 115px;
    overflow: hidden;
    color: red;
    padding: 15px 20px;
    text-align: center;
    transition: 1s;
  
  }
  
  .infoBox p{
    height: 30px;
    background-color: #ddd;
    margin-bottom: 5px;
    padding-top: 10px;
  }